[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	url = https://github.com/gtrdotmcs/NewDjango.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master
[heroku]
	account = personal
[remote "heroku"]
	url = git@heroku.com:newdjangogtr.git
	fetch = +refs/heads/*:refs/remotes/heroku/*
